@charset "UTF-8";

	.m-tradingsg_reports #reportsList {
	    background: #F5F5F5;
	    padding:15px;
	}

	.m-tradingsg_reports #reportsList .subcr{
	    margin-right: 0;
	}

	.m-tradingsg_reports #reportsList a.button {
	    width:75%;
	    font-size: 17px;
	    display: block;
	    margin-bottom: 10px;
	}

	.m-tradingsg_reports .report-wrapper h1 {
	    text-shadow: 1px 1px 2px #665D5D;
	    filter: dropshadow(color=#665D5D, offx=1, offy=1);
	    font-size: 25px;
	    margin-bottom: 15px;
	}

	.m-tradingsg_reports table.search td select.year {
	    width: 70px;
	}

	.m-tradingsg_reports table.search td select.month {
	    width: 100px;
	}

	.m-tradingsg_reports table.search td select{
	    width: 300px;
	    max-width: 300px;
	    font-size: 1.2em;
	}

	#reportSearchPanel {
	    background: #ccc;
	    padding: 5px;
	    display: none;
	    margin: 5px 0 5px 0;
	    overflow: hidden;
	}

	#reportSearchPanel table {
	    float: right;
	}

	#reportSearch .resetLink {
	    padding-right: 15px;
	    padding-top: 5px;
	}

	#reportSearch .button {
	    margin-left: 10px;
	}

	optgroup option {
	    background: #fff;
	    padding-left: 10px;
	}

	.m-tradingsg_reports .actBtns {
	}

	#chart_div {
	    min-height: 400px;
	}

	.exportLink{
	    position: absolute;
	    left: 10px;
	    top:37px;
	    height:21px;
	}

	.m-tradingsg_reports table.search td input {
        font-size: 1em;
	}

    .m-tradingsg_reports table.search td input.fld_date {
        width: 100px;
    }

	.m-tradingsg_reports table.search td.fieldValue select {
	    font-size: 1.2em;
	    max-width: 300px;
	    width: 130px;
	}

	table.thinlist.tableInvesInvestDetail th {
	    background-color: #97FFFF;
	    color: black !important;
	}

	table.thinlist.tableInvesPaidDetail th {
	    background-color: #97FFFF;
	    color: black !important;
	}

	table.thinlist.tableInvesInvestDetail td {
	    background-color: #dcffff;
	    color: black !important;
	}

	table.thinlist.tableInvesPaidDetail td {
	    background-color: #dcffff;
	    color: black !important;
	}

	.w-tradingsg-investorReport .InvestmentAmountPaidDetails,
    .w-tradingsg-investorReport .InvestmentAmountInvestDetails {
    	display: none;
    }

    .investmentToggle,
	.investmentPaymentToggle {
		text-decoration: underline;
		cursor: pointer;
	}
