.navigation {
	background-color:#0d91c8;
	width:960px;
	float:left;
	margin-top:10px;
}
.ddsmoothmenu{
float:left;
}

.ddsmoothmenu ul{
z-index:100;
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.ddsmoothmenu ul li{
position: relative;
display: inline;
float: left;
}

/*Top level menu link items style*/
.ddsmoothmenu ul li a{
display: block;
color: white;
height:17px;
padding: 8px 20px;
color: #2d2b2b;
text-decoration: none;
text-transform:uppercase;
font-size:14px;
}
.ddsmoothmenu ul li a.drop{
	background-image:url(images/down.gif);
	background-repeat:no-repeat;
	background-position:90% 50%;
	padding-right:30px !important;
}
.ddsmoothmenu ul li a.drop:hover{
	background-image:url(images/down_rol.gif);
	background-repeat:no-repeat;
	background-position:90% 50%;
}
.ddsmoothmenu ul li.dropdown a.selected{
	background-image:url(images/down_rol.gif);
	background-repeat:no-repeat;
	background-position:90% 50%;
}
* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color: white;
}

.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
background: #f5fcff; 
color: #0d91c8;
}

.ddsmoothmenu ul li a:hover{
background: #f5fcff; /*background of menu items during onmouseover (hover state)*/
color: #0d91c8;
}
	
/*1st sub level menu*/
.ddsmoothmenu ul li ul{
position: absolute;
left: 0;
display: none; /*collapse all sub menus to begin with*/
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li{
display: list-item;
float: none;
width:171px;
background-color:#f5fcff;
}
/*Sub level menu list items (undo style from Top level List Items)*/
.ddsmoothmenu ul li ul li.first{
	background-image:url(images/navi_top.gif);
	background-position:top;
	background-repeat:no-repeat;
	background-color:transparent;
	padding-top:15px;
}
/*All subsequent sub menu levels vertical offset after 1st level sub menu */
.ddsmoothmenu ul li ul li ul{
top: 0;
}

/* Sub level menu links style */
.ddsmoothmenu ul li ul li a{
font-size: 11px;
width: 141px; /*width of sub menus*/
padding: 5px 5px 3px 25px;
text-transform:none;
margin: 0;
border-top-width: 0;
border-bottom: 1px dotted #666;
color:#666 !important;
background-image:url(images/navi_arrow.gif);
background-position:11px 9px;
background-repeat:no-repeat;
}
.ddsmoothmenu ul li ul li a:hover{
	background-color:#0d91c8;
	color:#FFF !important;
	background-image:url(images/navi_arrow_rol.gif);
	background-repeat:no-repeat;
	background-position:11px 9px;
}
/* Holly Hack for IE \*/
* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/


/* ######### CSS classes applied to down and right arrow images  ######### */

.downarrowclass{
position: absolute;
top: 12px;
right: 7px;
}

.rightarrowclass{
position: absolute;
top: 6px;
right: 5px;
}

/* ######### CSS for shadow added to sub menus  ######### */

.ddshadow{
position: absolute;
left: 0;
top: 0;
width: 0;
height: 0;
}

.toplevelshadow{ /*shadow opacity. Doesn't work in IE*/

}