@charset "UTF-8";

@media all
{
    .m-tradingsg_investor .toggle {
        display:block;
    }

    .m-tradingsg_investor .yform{
        background-color: #fff;
        border: 0;
        padding: 0;
    }

    .m-tradingsg_investor .c50l,
    .m-tradingsg_investor .c50r {
        width: 100%;
    }

    .m-tradingsg_investor .ym-columnar .ym-fbox-text label,
    .m-tradingsg_investor .ym-columnar .ym-fbox-select label,
    .m-tradingsg_investor #frmEdit .type-text label,
    .m-tradingsg_investor #frmEdit .type-select label {
        width: 100%;
    }

    .m-tradingsg_investor #frmEdit .creModdate .type-text label{
        width: 20%;
    }

    .m-tradingsg_investor  .linkPortalWrapper div.header,
    .m-tradingsg_investor  .linkPortalWrapper .linkPortalDataWrapper th{
        background-color: #F8F8F8;
    }

    .m-tradingsg_investor .grandTotalPurchasePo {
        font-size: 18px;
        padding: 0px 2px;
        margin-top: -32px;
    }

    .rightpanelHeading {
        font-size: 18px !important;
    }

    .ym-columnar div.ym-fbox-text input,
    .columnar div.type-text input,
    .ym-columnar div.ym-fbox-text textarea,
    .columnar div.type-text textarea,
    .ym-columnar div.ym-fbox-select select,
    .columnar div.type-select select {
        width: 100% !important;
    }
}
