@charset "UTF-8";
/************** COMMENTS ******/
@media all
{
    .commentsList {
        margin:0;
        padding:5px 0;
    }

    .commentsList .row{
        margin:0 0 10px 0;
        padding:0 0 10px 0;
        overflow: hidden;
        border-bottom: 1px dotted #ccc;
    }
    .commentsList .row .pic {
        float: left;
        width: 18%;
        margin-right: 2%;
    }

    .commentsList .row .pic img {
        display: block;
        margin: auto;
        max-width: 64px;
    }
    
    .commentsList .row .txt {
        float: right;
        width: 80%;
        position: relative;
    }

    .commentsList .row .txt .name {
        margin-bottom: 5px;
        line-height: 1em;
    }

    .commentsList .row .txt .date {
        position: absolute;
        top: 0;
        left: 150px;
        font-size: 0.9em;
    }
    
    .commentsList .rating {
        overflow: hidden;
        margin-bottom: 5px;
    }
}