
/*** WIDGETS ***/
@media all
{
    .m-common_dashboard .widget {
        margin-bottom:15px;
        padding-right:0;
        margin-right:20px;
    }

    .m-common_dashboard .widget h2 {
        padding:5px;
        margin:0;
    }

    .m-common_dashboard .widget div.tableOuter {
        height:300px;
        overflow: auto;
        border: 1px solid #CCC4C4;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
     }

    .m-common_dashboard .widget table {
        width:100%;
        border-collapse: collapse;
    }

    .m-common_dashboard .widget table th,
    .m-common_dashboard .widget table td{
        padding:0.5em;
        border: 1px solid #EFEFEF;
    }

    .m-common_dashboard .widget h2 .ui-icon {
        float: right;
    }

    .m-common_dashboard #col1 .profilePic {
        padding: 5px;
        border:1px dotted #ccc;
    }
    
    .m-common_dashboard #col1 .profilePic img {
        display: block;
        margin: auto;
        max-width: 165px;
    }
}