.addthis_toolbox {
    height:40px;
}

.m-webBasic_content.rt-list-detail-combo .row {
    margin-top: 20px;
}

.m-webBasic_content.rt-list-detail-combo .long-description {
    display: none;
}

.m-webBasic_content.rt-list-detail-combo span.less {
    display: none;
}

