@charset "UTF-8";

@media all
{

    body.cpFullWidth {
        background: #FFFFFF none repeat scroll 0 0;
        padding: 0;
        height: auto;
    }

    .sub {
        background-color: #F6F6F6;
        border: 1px solid #DDDDDD;
        border-radius: 5px;
        display: none;
        height: 464px;
        overflow: auto;
        padding-top: 20px;
        position: relative;
        top: 0px;
        z-index: 9999;
        width: 600px !important;
        left: -18px;
    }

    .ulModuleSet {
        width: 180px;
        height: 420px;
        background-color: #23B7E5;
        border-radius: 5px 5px 5px 5px;
        margin-bottom: 15px;
        padding-top: 14px;
        margin-right: 0;
    }

    ul.ulModuleSet li a::before {
        font-size: 20px;
    }

    .sub ul li a span {
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
    }

    .sub ul ul li a span {
        font-weight: normal;
        font-size: 17px;
    }

    .homeTop .sub ul ul li::before {
        content: '\f1cd';
        font-family: FontAwesome;
        font-size: 15px;
        margin-left: 8px;
        margin-right: 4px;
    }

    #footer a {
        color: #ffffff;
        font-weight: bold;
    }

    .cpFullWidth #header {
        /*background-color: #24B145;*/
        border-bottom: 3px solid #e7e7e7;
        min-height: 53px;
    }

    .tplLogin #loginOuter {
        /*background: #24B145 none repeat scroll 0 0;
        border: 1px solid #24B145;*/
        border-radius: 15px;
        box-shadow: 0 0 5px #a4a4a4;
        margin: 0 auto;
    }

    /*.m-tradingsg_reports.cpFullWidth #nav2 .page {
        background: #24B145 none repeat scroll 0 0 !important;
        margin-bottom: 16px;
    }*/

    #footer {
        /*background: #24B145 none repeat scroll 0 0 !important;*/
        height: 25px;
        padding: 2px 0 0;
    }

    .w40{ width:40px !important;}

    table.thinlist thead th, table.thinlist thead td {
        /*background: #24B145 none repeat scroll 0 0;*/
        border-bottom: 3px solid #dddddd;
        border-top: 1px solid #dddddd;
        color: #ffffff;
    }

    .subcr.widget.ui-sortable.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all
    , .subcl.widget.ui-sortable.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all {
        padding: 5px !important;
    }

    .ulModuleSet {
        /*background-color: #24B145;*/
    }

    .leftNav .hlist ul li a::before {
        /*color: #24b145 !important;*/
    }

    .leftNav .hlist ul li.active a, .leftNav .hlist ul li:hover a {
        /*background-color: #d2ffd2;*/
        color: #006384;
        font-weight: normal;
    }

    .cpFullWidth #extended {
        background: #333333 none repeat scroll 0 0;
        /*border-top: 2px solid #24B145;*/
        padding: 4px 0 0;
    }

    .pagelinks .linkNos {
        /*color: #24B145;*/
        text-align: center;
        width: 170px;
    }

    .pagelinks span {
        /*color: #24B145;*/
    }

    #extended .pagelinks .currentPage {
        /*background-color: #24b145;*/
        border-radius: 3px;
        color: #ffffff;
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        padding: 4px 6px;
    }

    #extended .pagelinks .noLink {
        color: #888888;
        display: inline-block;
        font-weight: normal;
        padding: 5px 4px;
    }


    .logoTitle h1 {
        background-color: #49C3E9;
        border-radius: 2px;
        box-shadow: 0 0 5px #a4a4a4;
        color: #ffffff;
        font-size: 35px;
        font-weight: bold;
        margin: 0;
        padding: 10px;
     }

    .cpFullWidth #col3_content {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }

    .installationFormMain .panel-info > .panel-heading{
        background: #49C3E9 !important;
        color: #FFFFFF !important;
    }

    .installationFormMain h3.panel-title{
        font-size: 18px !important;
    }


    .installationFormMain h1.panel-title{
        font-size: 25px !important;
        font-weight: bold !important;
    }

    .installationFormMain{
        /*width: 50%;*/
        margin:0 auto;
    }

    .installationFormSubmitButton{
        margin-left: 20%;
        font-size: 17px !important;
        padding: 6px 45px;
    }

    .activateToFullversion span.fa-key:before{
        content: '\f084';
        font-family: FontAwesome;
        font-size: 18px;
        margin-left: 8px;
        margin-right: 4px;
    }

    .rollBackToDemoVersion span.fa-share-square-o:before{
        content: '\f045';
        font-family: FontAwesome;
        font-size: 14px;
        margin-left: 8px;
        margin-right: 4px;
    }

    .rollBackToDemoVerBtn {
        margin-top: 15px;
    }

    .activateToFullversionBtn{
        width: 100%;
    }

    .registeredFromDemoVersion span.fa-registerUser:before{
        content: '\f234';
        font-family: FontAwesome;
        font-size: 18px;
        margin-left: 8px;
        margin-right: 4px;
    }

    .demoVersionTextHeading h1 {
        font-size: 25px;
        font-weight: bold;
        margin-top: 9px;
        margin-right: 16px;
        text-shadow: 2px 2px #000000;
    }

    .registeredFromDemoVersion b {
        font-size: 18px !important;
    }

    .btnRegisterDemoActivate{
        width: 411px;
        margin: 0 auto;
        padding-right: 38px;
    }

    .installationFormMain h3.panel-title span.fa-arrow-right:before{
        content: '\f061';
        font-family: FontAwesome;
        font-size: 18px;
        margin-left: 8px;
        margin-right: 4px;
    }

    .SqlLogStoreForm label,
    .SqlLogStoreForm textarea{
        width: 100% !important;
    }

    .SqlLogStoreForm div.error .message{
        margin-left: 0 !important;
    }

    .w-common-adminTranslation {
        margin-top: 15px;
    }

    #portalForm_InstallationForm{
        border-top-width: 1px !important;
    }

    #portalForm_InstallationForm.ym-form .form-row-wrapper .rightCol .ym-fbox-check,
    #portalForm_InstallationForm.yform .form-row-wrapper .rightCol .type-check {
        padding-right: 25px;
        display: inline;
    }

    #portalForm_InstallationForm input,
    #portalForm_InstallationForm strong {
        font-size: 16px;
    }


    .pagelinks span {
        /*color: #24B145;*/
    }

    /*tr.even {
        background-color: #e4ffe4 !important;
    }

    table.thinlist tr.odd:hover,
    tr.even:hover,
    tr.current:hover{
        background-color: #e4ffe4 !important;
    }*/

    .cpSearch select, .cpSearch input{
        width: 112px;
    }

    .cpSearch .dateRange {
        width: 303px;
    }

    .cpSearch input.button {
        background-color: #859198;
        border: medium none;
        color: #ffffff;
        font-weight: bold;
        margin-left: -6px;
        padding: 5px;
        width: 40px;
    }

    .btn-primary a,
    .btn-warning a,
    .btn-danger a,
    .btn-success a{
        color: #ffffff !important;
        text-decoration: none;
    }

    .m-tradingin_invoiceSequence .columnar .type-text.row_invoice_code_vat label {
        width: 30% !important;
    }

    .m-tradingin_invoiceSequence .columnar div.type-text.row_invoice_code_vat input {
        width: 56% !important;
    }

    .m-tradingsg_reports .homeClass{
        left: 200px;
        position: absolute;
        top: 16px;
    }

    .m-tradingsg_reports .homeClass a{
        font-size: 20px;
    }

    /*.m-tradingsg_reports .hidecol2 #col3{
        margin-left: 30px;
        margin-right: 30px;
    }

    .m-tradingsg_reports .hidecol2 #col1{
        display: none;
    }*/

    .float_right.helpAndGetStarted {
        margin-left: 5px;
        margin-top: 8px;
        padding-left: 8px;
    }

    #reportSearchPanel {
        background: #ccc none repeat scroll 0 0 !important;
        display: none;
        margin: 5px 0;
        overflow: hidden;
        padding: 5px;
    }

    .exportLink {
        height: 37px;
        left: 7px;
        position: absolute;
        top: 60px;
    }

    #dialog .checkProductPrice input {
        margin-bottom: 14px;
        margin-top: 8px;
        width: 200px !important;
    }

    .actionBtnsDetail .button {
        width: 125px;
     }

    .m-tradingsg_reports table.search td input.fld_date {
        color: #000000 !important;
        width: 100px;
    }

    .m-tradingsg_purchaseOrder .yform.edit .type-text div.txt
    ,.m-tradingsg_purchaseOrder .yform.edit .type-text div.txt
    ,.m-tradingsg_purchaseOrder .yform.edit .type-select div.txt
    ,.m-tradingsg_purchaseOrder .yform.edit .form-row-wrapper div.txt {
        margin-left: 0;
        padding: 0 0.5em 0.5em 0;
    }

    .m-tradingsg_purchaseOrder .toggle {
        display:block;
    }

    .m-tradingsg_purchaseOrder .yform {
        background-color: #fff;
        border: 0;
        padding: 0;
    }
    .m-tradingsg_purchaseOrder.v-new .c50l,
    .m-tradingsg_purchaseOrder.v-new .c50r,
    .m-tradingsg_customer.v-new .c50l,
    .m-tradingsg_customer.v-new .c50r{
        width: 50%;
    }

    .m-tradingsg_purchaseOrder .c50l,
    .m-tradingsg_purchaseOrder .c50r,
    .m-tradingsg_customer .c50l,
    .m-tradingsg_customer .c50r {
        width: 100%;
    }

    .m-tradingsg_purchaseOrder .ym-columnar .ym-fbox-text label,
    .m-tradingsg_purchaseOrder .ym-columnar .ym-fbox-select label,
    .m-tradingsg_purchaseOrder #frmEdit .type-text label,
    .m-tradingsg_purchaseOrder #frmEdit .type-select label,
    .m-tradingsg_customer .ym-columnar .ym-fbox-text label,
    .m-tradingsg_customer .ym-columnar .ym-fbox-select label,
    .m-tradingsg_customer #frmEdit .type-text label,
    .m-tradingsg_customer #frmEdit .type-select label {
        width: 100%;
    }

    .qtySize input{
        width: 70px !important;
    }

    .priceSize input{
        width: 100px !important;
    }

    .productSize input{
        width: 300px !important;
    }

    #po_productTable .ui-autocomplete-input { margin: 0; padding: 0.1em 0 0.1em 0.45em; }

    .addMultipleLineItemForm, .addMultipleLineItemListForm ,
    .addNewproductForm, .addNewproductListForm {
        height: 360px;
        overflow: auto;
    }

    .admin-langs select {
        color: #000;
    }

    .addNewproductListForm label{
        display: inline;
    }

    input.allQty{
        width: 15%;
        height: 32px;
    }

    input.findWordTitle{
        width: 40%;
        height: 32px;
    }

    #staffNameEntermodal .modal-dialog {
        margin: 150px auto;
        width: 688px;
    }

    .onLoadStaffNameEnterText input {
        font-size: 18px;
    }

    .onLoadStaffNameEnterText label {
        font-size: 18px;
        margin-right: 4px;
    }

    .float_right.SyncFilesToServ {
        margin-left: 5px;
        margin-top: 8px;
        padding-left: 8px;
    }

    .SyncFilesFromServToLoc.button{
        margin-top: 3px;
    }

    .UpdateSQLLogOnTableLocal.button{
        margin-top: 3px;
    }

    .float_right.UpdateSQLLogOnTable {
        margin-left: 5px;
        margin-top: 8px;
        padding-left: 8px;
    }

    .silverRateChangeHeader,
    .goldRateChangeHeader {
        margin-left: 5px;
        margin-top: 8px;
        padding-left: 8px;
        font-size: 21px;
        padding: 1px 8px;
        font-weight: bold;
    }

    .btn-group.btn-toggle{
        z-index: 0 !important;
    }

    .backToList a {
        background-color: #D43F3A;
        color: #FFFFFF;
        padding: 8px;
        float: left;
        border-radius: 3px;
        margin-left: -13px;
        text-decoration: none;
    }

    .hlist.actionBtns .noDefault {
        float: left;
    }
}