/*** DEMO SKIN ***/

.w-menu-megaMenu ul.mega-menu li,
.w-menu-megaMenu .mega-menu ul,
.w-menu-megaMenu .mega-menu ul li {
    list-style: none;
}
.w-menu-megaMenu .mega-menu ul {position: relative; padding: 0; margin: 0;}
.w-menu-megaMenu .mega-menu ul li ul {display: none;}
.w-menu-megaMenu .mega-menu .sub {display: none;}
.w-menu-megaMenu .mega-menu .sub ul {display: block;}

.w-menu-megaMenu {font: normal 13px Arial, sans-serif; line-height: 16px;}
.w-menu-megaMenu ul.mega-menu,
.w-menu-megaMenu ul.mega-menu,
.w-menu-megaMenu ul.mega-menu li {margin: 0; padding: 0; border: none;}
.w-menu-megaMenu ul.mega-menu {background: #ccc url(images/bg_white.png) repeat-x 0 -80px; width: 100%; height: 40px; border-right: 1px solid #afafaf; border-left: 1px solid #afafaf; position: relative;}
.w-menu-megaMenu ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 13px; font-weight: bold;}
.w-menu-megaMenu ul.mega-menu li a {
    float: left;
    display: block;
    color: #000;
    padding: 10px 38px 10px 25px; background: url(images/bg_white.png) repeat-x 100% 0;
    text-shadow: 1px 1px 1px #fff;
    text-decoration: none;
}
.w-menu-megaMenu ul.mega-menu li a.dc-mega {position: relative;}
.w-menu-megaMenu ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; width: 8px; height: 6px;  top: 18px; right: 15px; background: url(images/arrow.png) no-repeat 0 100%;}
.w-menu-megaMenu ul.mega-menu li.mega-hover a, .w-menu-megaMenu ul.mega-menu li a:hover {background-position: 100% -40px; color: #000; text-shadow: none;}
.w-menu-megaMenu ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.w-menu-megaMenu ul.mega-menu li .sub-container {position: absolute; background: url(images/bg_sub_left.png) no-repeat 0 100%; padding-left: 20px; margin-left: -3px;}
.w-menu-megaMenu ul.mega-menu li .sub {background: url(images/bg_sub.png) no-repeat 100% 100%; padding: 20px 20px 20px 10px;}
.w-menu-megaMenu ul.mega-menu li .sub-container.mega .sub {padding: 20px 20px 10px 0;}
.w-menu-megaMenu ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.w-menu-megaMenu ul.mega-menu li .sub li {list-style: none; float: none; width: 170px; font-size: 1em; font-weight: normal;}
.w-menu-megaMenu ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.w-menu-megaMenu ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.w-menu-megaMenu ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.w-menu-megaMenu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {padding: 5px 5px 5px 15px; margin-bottom: 5px; background: #E3E3E3 url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase; font-weight: bold; color: #000; text-shadow: 1px 1px 1px #fff;}
.w-menu-megaMenu ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color: #a32403; text-shadow: none;}
.w-menu-megaMenu ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(images/arrow_off.png) no-repeat 5px 8px; font-weight: normal;}
.w-menu-megaMenu ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;}
.w-menu-megaMenu ul.mega-menu .sub ul li {padding-right: 0;}
.w-menu-megaMenu ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.w-menu-megaMenu ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.w-menu-megaMenu ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(images/arrow_off.png) no-repeat 7px 10px;}
.w-menu-megaMenu ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;}