.w-media-flexSlider .flexslider {
    background: transparent;
    border: 0;
    box-shadow: none;
    margin: 0;
}

.w-media-flexSlider .flexslider ul.slides li {
    margin-left: 0;
    list-style-type: none;
}
