@charset "UTF-8";
@media all
{
    body {
        background: #ccc;
        padding: 0 0;
    }

    .page_margins {
        width: 990px;
        margin: auto;
    }

    #nav {
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
        margin-bottom: 0;
    }
    
    .hlist ul li.last {
        border-right:0px;    
    }
    
    .rt-home #main {padding:0; }
    .rt-home #col3_content {padding:0; }

}

/******************* OTHER COMMON ITEMS ********************/
@media all
{
    div.spContent {
        text-align: left;
    }

    div.spContent .title {
        font-size:150%;
        margin-bottom: 10px;
    }

    .w-common-language {
    	position: absolute;
    	top:10px;
    	right:10px;
    }
    
    #header .socialMediaIcons {
    	position: absolute;
    	top:10px;
    	right:10px;
    }
}

@media all
{
    .pagelinks {
        width:275px;
    }

    .pagelinks .linkNos {
        width:50px;
        text-align: center;
    }

    .fatList .row {
        border-bottom: 1px dotted green;
        margin-bottom:20px;
    }

    .fatList .row.last {
        border-bottom: 0;
    }

    .print-btn {
        background: transparent url('/www/images/print.jpg') no-repeat scroll top left;
        width: 120px;
        height: 20px;
        display: block;
    }

    body.newsletter-preview #newsletterPreview {
    }
    
    #frmEdit .actBtnsWrapper {
        float: right;
    }
    
    .v-detail .pagelinks .preBtn, 
    .v-detail .pagelinks .linkNos, 
    .v-detail .pagelinks .nxtBtn,
    .v-detail .pagelinks .totalRecs {
        display: none;
    }
    
    .v-detail .pagelinks .backToList {
        float: left;
        margin: 0;
    }
}

.w-content-record h3.title {
    font-size: 100%;
    font-weight: normal;
}