@charset "UTF-8";

.AddProductKeyLinkButton {
	cursor: pointer;
}

.m-tradingsg_customer .grandTotalPurchasePo {
	font-size: 18px;
	padding: 0px 2px;
	margin-top: -32px;
}

.rightpanelHeading {
    font-size: 18px !important;
}

.m-tradingsg_customer .toggle {
    display:block;
}

.ym-columnar div.ym-fbox-text input, .columnar div.type-text input, .ym-columnar div.ym-fbox-text textarea, .columnar div.type-text textarea{
	width: 100% !important;
}